
.detail-form-section-wrapper{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.form-title-wrapper{
    display: flex;
    border-bottom: 1px dashed black;
    justify-content: space-between;
    padding-bottom: 10px;
}

.form-title{
    font-size: 20px;
    font-weight: bold;
}
.form-title-status{
    text-transform: uppercase;
    color: #3c8dbc;
    background: #ecf0f7;
    padding: 5px 13px;
    border-radius: 5px;
    font-size: 1rem!important;
    margin-right: 23px;
}

.photos-slider{
    margin-top: 10px;
    max-height: 325px;
    overflow: hidden;
    object-fit: cover;
    border: 2px solid #ddd;
    max-width: 306px;
    border-radius: 2px;
    min-height: 325px;
}

.photo-slider-image{
    width: 325px;
}

/* .fields-wrapper1{
    display: flex;
    flex: 1;
    margin-top: 10px;
} */

.labour-cost-text{
    margin-top: 10px;
}

.edit-button{
    width: 100px;
}
.save-button{
    width: 100px;
    margin-left: 10px;
}

.add-more-button{
    width: 200px;
    margin-top: 20px;
}

.action-buttons{
    margin-top: 10px;
}

.work-to-be-done-list{
display: flex;
flex-direction: column;
}

.edit-fields{
display: flex;
flex-direction: column;
}

/* .part-cost-wrapper{
    margin-left: 30px;
    margin-bottom: 10px;
} */

.part-cost-row{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.remove-icon{
    cursor: pointer;
    margin-left: 10px;
}
.add-part-cost-wrapper{
    margin-left: 10px;
}